:root {
  --page-header-size: 50px;
  --page-layout-size: 1rem;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

* {
  font-family: 'Space Grotesk', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

.fixed {
  position: fixed;
}

.page-header {
  width: 100vw;
  height: var(--page-header-size);
  background: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  z-index: 997;
}

.page-main {
  min-height: calc(100vh);
  width: calc(100vw);
}

.page-content {
  position: relative;
  z-index: 1;
}

.page-project-title {
  position: fixed;
  bottom: 0;
  right: 0;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  padding: 0.2rem 1rem;
  font-family: 'Space Mono', monospace;
  font-size: 2rem;
  pointer-events: none;
  z-index: 3;
  box-sizing: border-box;
}

.content {
  margin: auto;
  max-width: 700px;
}

.github-link {
  float: right;
}

.project-canvas {
  position: absolute;
}

.ui-container {
  position: fixed;
  top: var(--page-header-size);
  left: 0;
  width: 100vw;
  height: calc(100vh - var(--page-header-size));
  pointer-events: none;
}

.ui-container * {
  pointer-events: auto;
}

.ui-element {
  display: block;
  margin-bottom: 0.5rem;
}

.ui-text {
  color: white;
  font-family: 'Space Mono', monospace;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
}

.ui-dropdown {
  width: fit-content;
  height: fit-content;
  font-family: 'Space Mono', monospace;
  font-size: 0.875rem;
  color: white;
  background: inherit;
  padding: 0.2rem 0.6rem;
  border: 0px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: background 0.2s ease;
}

.ui-dropdown:hover {
  background: rgba(255, 255, 255, 0.15);
}

.ui-dropdown option {
  background: black;
  color: white;
}

.ui-dropdown:focus {
  outline: none;
}

.ui-dropdown option {
  background: black;
  color: white;
  padding: 0.2rem 0.6rem;
  font-family: 'Space Mono', monospace;
}

.ui-slider {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  color: white;
  padding: 0.2rem 0.6rem;
  font-family: 'Space Mono', monospace;
  font-size: 0.875rem;
}

.ui-slider-value {
  margin-left: auto;
}

.ui-slider-inline-input {
  width: 4rem;
  margin-left: auto;
}

.ui-slider-popup-input {
  position: fixed;
  width: 5rem;
  z-index: 1000;
}

.app-credit {
  z-index: 3;
  top: var(--page-header-size);
  color: rgba(255, 0, 0, 1.0);
  font-family: 'Space Mono', monospace;
  background: rgba(255, 0, 0, 0.3);
}
